phidata==2.7.6
python-dotenv
yfinance==0.2.51
packaging==24.2
duckduckgo-search==7.1.1
fastapi==0.115.6
uvicorn==0.34.0
groq==0.13.1
openai==1.58.1
sqlalchemy==2.0.36
pgvector
psycopg[binary]==3.2.3
pypdf==5.1.0
streamlit==1.41.1
